<h1>Leaderboard#show</h1>
<p>Find me in app/views/leaderboard/show.html.erb</p>

<%= button_to 'Очистить свой результат', leaderboard_update_path, method: :get %>

<% @scores.each do |score| %>
  <p>Кликов: <%= score.clicks %></p>
<% end %>